
.mySwiper2 {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.mySwiper2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.mySwiper {
  padding: 5px 0;
  height: 100px;
}

.mySwiper .swiper-slide {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  height: 100% !important;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #10355B; 
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.main-swiper-wrapper {
  position: relative;
}

.thumbs-area {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

/* faqat swiper uchun real container */
.thumbs-container {
  overflow: hidden;
}

/* thumbs swiper */
.mySwiper {
  height: 100px;
}

/* navigation buttons */
.thumb-prev,
.thumb-next {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e7e9ee;
  background: #fff;
  color: #10355b;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.25s ease;
}

.thumb-prev:hover,
.thumb-next:hover {
  background: #10355b;
  color: #fff;
}

/* default swiper nav off */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}



@media (max-width: 768px) {
  .thumb-prev,
  .thumb-next {
    display: none;
  }
}
