.product {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    border-radius: 20px;
    padding: 14px;
    width: 100%;
    transition: 0.25s ease;
    cursor: pointer;
    background: #fff;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 14px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.25s  ease-in-out;
      object-fit: cover;
      background: transparent;
    }

    &:hover img {
      transform: scale(1.04);
    }
  }

  &__special,
  &__disc {
    position: absolute;
    top: 10px;
    padding: 10px 14px;
    border-radius: 10px;
  }

  &__special {
    left: 10px;
    background: var(--white);

    &-text {
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  &__disc {
    right: 10px;
    background: var(--sale);

    &-text {
      font-size: 16px;
      font-weight: 700;
      color: var(--white);
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    &-title {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #7d7d7d;
      margin: 12px 0;
    }
    .price-section {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 100%;
      height: 48px;
      margin-bottom: 10px;
    }

    .product-old-price {
      color: #7d7d7d;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 3px;
    }
    &-price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 4px;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;

      &__disc {
        text-decoration: line-through;
        color: var(--gray);
        font-weight: 500;
        font-size: 20px;
      }

      &__text {
        font-size: 22px;
        font-weight: 700;
        color: #000;
      }
    }

    &-btns {
      display: grid;
      grid-template-columns: 4.5fr 1fr;
      gap: 10px;

      &__buy,
      &__basket {
        border-radius: 8px;
        border: none;
        background: var(--primary-color);
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
      }

      &__buy {
        font-size: 18px;
        color: var(--white);
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .price-section{
    height: 30px !important;
    margin: 0;
  }
  .product-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0px 6px;
  }
  .product-old-price {
    color: #616161;
    font-size: 14px !important;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
  }
  .product {
    &__main {
      overflow: hidden;
      padding: 0;
      border-radius: 10px;
    }

    &__img {
      border-radius: 8px;
    }
     &__desc{
      margin-bottom: -8px;
     }

    &__desc-title {
      margin: 2px 6px 7px;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #616161;
    }

    &__desc-btns {
      display: flex;
      gap: 4px;
      border-radius: 6px;
      margin: 4px;
    }

    &__desc-price__disc {
      font-size: 14px;
      color: #616161;
    }

    &__desc-price__text {
      font-size: 18px;
      font-weight: 700;
    }

    &__desc-btns__buy {
      font-size: 14px;
      padding: 9px 10px;
      flex: 1;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }

    &__desc-btns__basket {
      padding: 6px 8px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
