

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1rem, 5vw, 2rem);
  padding-right: clamp(1rem, 5vw, 2rem);
  max-width: 1240px; 
  
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
