@font-face {
  font-family: "Neometric";
  src: url("./assets/fonts/Neometric-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #10355b;
  --gray: #7d7d7d;
  --light-gray: #e7e9ee;
  --sale: #d10000;
  --body: #f5f5f7;
  --black: #000;
  --white: #fff;
  --border: #c5c5c5;
  --placeholderProds: #a7a7a7;
  --srchTxt: #969b9f;
  scroll-behavior: smooth;

}

html,
body {
  height: 100%;
 font-family: "Neometric", sans-serif !important;
}

body {
  min-height: 100dvh;
  background: var(--body);
  position: relative;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}


a {
  text-decoration-line: none;
  color: inherit;

}

::-webkit-scrollbar {
  display: none;
}

body[data-state="true"] {
  overflow: hidden;
}

.link {
  width: 100%;
  color: var(--black);
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: visible;
  position: relative;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
}
